@model WebApp.ViewModels.ApplicationUserViewModel
@if (!Model.Confirmed)
{
    <div class="account-cnf-rem">
        <p >
            Your email address need confirmation.
            @Html.ActionLink(
            linkText: "Use this link",
            actionName: "SendConfirmationEmail",
            controllerName:"EmailConfirm",
            routeValues: new { returnUrl = $"{Context.Request.Host + Context.Request.Path}" })
            to send confirmation email again.
        </p>
    </div>
}
<head>
    <h1>UserProfile</h1>
</head>

<body>
    <h2>Info:</h2>
    <p>Name: @Model.Name @Model.Surname</p>
    <p>UserName: @Model.UserName</p>
    <p>Email: @Model.Email</p>
    <p>PhoneNumber: @Model.PhoneNumber</p>
    <p>Rating: @Model.Rating</p>
    <p>Votes: @Model.NumOfVotes</p>
    <p>@Model.Description</p>
        <input type="button"
               value="Edit"
               onclick="location.href= '@Url.Action("ProfileEdit")'" />
</body>

<div>
    @Html.ActionLink(
                                       linkText: "Travel offers",
                                       actionName: "TravelOffers",
                                       controllerName: "Profiles",
                                       routeValues: new { },
                                       htmlAttributes: new { })
</div>
