<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/css/Stylesheet.css" type="text/css">
    @inject IAccountManager AccountManager
</head>
<body>
    <header>
        UPER
    </header>
    <nav>
        @{ var returnUrl = "https://"+Context.Request.Host + Context.Request.Path;}
        @Html.ActionLink("Home", "index", "Home")@{} <font color="pink"> | </font>
        @Html.ActionLink("Travel List","Index","TravelList")@{} <font color="pink"> | </font>
        @Html.ActionLink("My Profile", "MyProfile", "Profiles")@{} <font color="pink"> | </font>
        @Html.ActionLink("Create Trip", "Index", "TripCreator", 0)@{}
        @if (AccountManager.IsSignedIn(User))
        {
            <span style="float:right;color:pink">@AccountManager.GetUserName(User) | @Html.ActionLink("Log Out", "SignOut", "Login")</span>
        }
        else
        {
            <span style="float:right;color:pink">@Html.ActionLink(
                                                "Log in",
                                                "SignIn",
                                                "Login",
                                                routeValues:new { returnUrl }) | No account? @Html.ActionLink(
                                                                                                            "Register",
                                                                                                            "Register",
                                                                                                            "Login",
                                                                                                            routeValues: new {returnUrl })
        </span>
        }

    </nav>  

    <section>
        <sidebar>

        </sidebar>
        <bodyRender>
            @RenderBody()
        </bodyRender>
    </section>
    
    <footer>
        Copyrighted by spółka z.o.o
    </footer>
</body>
</html>
