<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <style>
        header{
            background-color:darkorchid;
            font-size: 40px;
            padding: 20px;
            
        }
        nav {
            background-color:fuchsia;
            padding: 7px;
        }
        sidebar{
        }
        bodyRender{
        }
        footer{
            background-color:lightpink;
            padding: 5px;
        }
    </style>
    
</head>
<body>
    <header>
        UPER
    </header>
    <nav>
        @Html.RouteLink("Home", "Home", new { action = "Index", id = "0", type = "0" })@{} <font color="pink"> | </font>
        @Html.RouteLink("Travel Offers", "tripDetails", new { action = "Index", id = "0", type = "0" })@{} <font color="pink"> | </font>
        @Html.RouteLink("My Profile", "Profiles", new { action = "Index", id = "0" })
    </nav>  

    <section>
        <sidebar>

        </sidebar>
        <bodyRender>
            @RenderBody();
        </bodyRender>
    </section>
    
    <footer>
        Copyrighted by spółka z.o.o
    </footer>
</body>
</html>
