@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/css/Stylesheet.css" type="text/css">
    <link rel="stylesheet" href="~/css/Notifications.css" type="text/css">
    @inject IAccountManager AccountManager
</head>
<body>
    <nav class="nav">
        @{ var returnUrl = "https://" + Context.Request.Host + Context.Request.Path;}
        <button onclick="location.href='@Url.Action("Index","Home")'">Home</button>
        <button onclick="location.href='@Url.Action("Index","TravelList")'">Travel List</button>
        @if (AccountManager.IsSignedIn(User))
        {
        <left-allign>@AccountManager.GetUserName(User) | @Html.ActionLink("Log Out", "SignOut", "Login")</left-allign>
        }
        else
        {
        <left-allign>
            @Html.ActionLink(
            "Log in",
            "SignIn",
            "Login",
            routeValues:new { returnUrl }) | No account? @Html.ActionLink(
            "Register",
            "Register",
            "Login",
            routeValues: new {returnUrl })
        </left-allign>
        }

    </nav>
    @{
    if (AccountManager.IsSignedIn(User))
    {
    <section>
        <div class="sidebar">
            <sidebar>
                <button onclick="location.href='@Url.Action("MyProfile","Profiles")'">My Profile</button>
                <button onclick="location.href='@Url.Action("Index","TripCreator")'">+ Create Trip</button>
                <button onclick="location.href='@Url.Action("MyTravelOffers","Profiles")'">My Travel Offers</button>
            </sidebar>
        </div>
        <bodyRender>

            @{var result = Context.Session.GetString("result"); Context.Session.Clear(); }
            @if (!string.IsNullOrEmpty(result))
            {
                @Html.Raw(result)
            }   
            @RenderBody()
        </bodyRender>
        <footer style="margin-left:160px">
            Copyrighted by spółka z.o.o
        </footer>
    </section>
    }
    else
    {
        <bodyRender style="margin-left:10px">
            @{var result = Context.Session.GetString("result"); Context.Session.Clear(); }
            @if (!string.IsNullOrEmpty(result))
            {
                @Html.Raw(result)
            }   
            @RenderBody()
        </bodyRender>
    <footer>
        Copyrighted by spółka z.o.o
    </footer>
    }
    }
</body>
</html>