<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/css/Stylesheet.css" type="text/css">
    <style>
        body{
            margin: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>
</head>
<body>
    <header>
        UPER
    </header>
    <nav>
        @Html.ActionLink("Home", "index", "Home")@{} <font color="pink"> | </font>
        @Html.ActionLink("Travel Offers", "Index", "TripDetails", 0, 0)@{} <font color="pink"> | </font>
        @Html.ActionLink("My Profile", "Index", "Profiles", 0)@{} <font color="pink"> | </font>
        @Html.ActionLink("Create Trip", "Index", "TripCreator", 0)
        <span style="float:right;color:pink">@Html.ActionLink("Log in", "SignIn", "Login") | No account? @Html.ActionLink("Register", "Register", "Login")</span>
    </nav>  

    <section>
        <sidebar>

        </sidebar>
        <bodyRender>
            @RenderBody()
        </bodyRender>
    </section>
    
    <footer>
        Copyrighted by spółka z.o.o
    </footer>
</body>
</html>
