@model WebApp.ViewModels.TripCreatorViewModel
@{
    ViewData["Title"] = "ConfirmationPositive";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
<script src="~/js/Map.js"></script>

<h3>Please check your trip data below and confirm if everything is correct!</h3>

<body>
    <h3>Info:</h3>
    <p>Destination City: @Model.DestinationAddress.City</p>
    <p>Street: @Model.DestinationAddress.Street</p>
    <p>Starting City: @Model.StartingAddress.City</p>
    <p>Street: @Model.StartingAddress.Street</p>
    <p>Cost (Per person): @Model.Cost</p>
    <p>Vechicle: @Model.VechicleModel</p>
    <p>Size: @Model.Size</p>
    <p>Date Start: @Model.Date</p>
    <p>Date End: @Model.DateEnd</p>
    <p>Is Smoking Allowed?: @Model.IsSmokingAllowed</p>
    <p>Description: @Model.Description</p>
    @if (Model.MapData != null)
    {
    <script type="text/javascript">
        loadCnv('@ViewData["mapData"]');
    </script>
    <div>
        <p><b>Trip map:</b></p>
        <div id="mapHolder"></div>
    </div>
    }
    <form action="/TripCreator/ConfirmationPositive" method="post" asp-antiforgery="true">
        <input type="hidden" name="DestinationAddress.City" value="@Model.DestinationAddress.City" />
        <input type="hidden" name="DestinationAddress.Street" value="@Model.DestinationAddress.Street" />
        <input type="hidden" name="StartingAddress.City" value="@Model.StartingAddress.City" />
        <input type="hidden" name="StartingAddress.Street" value="@Model.StartingAddress.Street" />
        <input type="hidden" name="Cost" value="@Model.Cost" />
        <input type="hidden" name="Size" value="@Model.Size" />
        <input type="hidden" name="VechicleModel" value="@Model.VechicleModel" />
        <input type="hidden" name="Date" value="@Model.Date" />
        <input type="hidden" name="DateEnd" value="@Model.DateEnd" />
        <input type="hidden" name="IsSmokingAllowed" value="@Model.IsSmokingAllowed.ToString()" />
        <input type="hidden" name="Description" value="@Model.Description" />
        <input type="hidden" name="MapData" value="@Model.MapData" />
        <input type="submit" name="answer" value="Accept" class="btn btn-success" />
        <input type="submit" name="answer" value="Decline" class="btn btn-danger" />
    </form>
</body>