@model WebApp.ViewModels.TripDetailsViewModel
@{var type = (ViewerType)ViewData["type"]; }

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
<script src="~/js/Map.js"></script>

@if (ViewBag.IsActive.Equals("false"))
{
    <div>
        <h1>The offer is closed.</h1>
    </div>
}
@if (ViewBag.IsActive.Equals("ongoing"))
{
    <div>
        <h1>The trip is ongoing.</h1>
    </div>
}

<div>
    <h1>Trip from @Model.StartingAddress.City to @Model.DestinationAddress.City </h1>
</div>

<div>
    @Html.ActionLink(
                                               linkText: "View Driver Profile",
                                               actionName: "DriverProfile",
                                               controllerName: "Profiles",
                                               routeValues: new
                                                   {
                                                   driverId = Model.DriverId
                                               },
                                               htmlAttributes: new { })
</div>
@if (ViewBag.IsActive.Equals("true") && (ViewBag.PassangerAccepted == true || type == ViewerType.Driver))
{ 
    <div>
        @Html.ActionLink(
                                                   linkText: "Chat",
                                                   actionName: "Index",
                                                   controllerName: "Chat",
                                                   routeValues: new
                                                       {
                                                       tripId = Model.TripId
                                                   },
                                                   htmlAttributes: new { })
    </div>
    }
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Destination City
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestinationAddress.City)
        </dd>
        <dt>
            Destination City Street
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestinationAddress.Street)
        </dd>
        <dt>
            Starting City
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartingAddress.City)
        </dd>
        <dt>
            Starting City Street
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartingAddress.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VechicleModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VechicleModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>
        <dt>
            Is smoking allowed?
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSmokingAllowed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

@if (Model.MapPath != null)
{
    <script type="text/javascript">
        loadCnv('@ViewData["mapData"]');
    </script>
    <div>
        <p><b>Trip map:</b></p>
        <div id="mapHolder"></div>
        <button type="button" onclick="zoomIn()">ZoomIn</button>
        <button type="button" onclick="zoomOut()">ZoomOut</button>
    </div>
}
@if (ViewBag.IsActive.Equals("true"))
{
    @if (type != ViewerType.Guest)
    {
        <div class="passangersList">
            <h2>Passangers</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Passanger Username
                        </th>
                        @if (type == ViewerType.Driver)
                        {
                            <th>
                                Options
                            </th>
                        }
                    </tr>
                </thead>
                @foreach (var username in Model.PassangersUsernames)
                {
                    <tr>
                        <td><p>@username</p></td>
                        @if (type == ViewerType.Driver)
                        {
                            <form asp-action="RemoveUserFromTrip" asp-controller="TripDetails" method="post" asp-route-id="@Model.TripId" asp-route-username="@username" asp-antiforgery="true">
                                <td><input type="submit" value="Remove" class="btn btn-danger" /></td>
                            </form>
                        }
                    </tr>
                }
            </table>
        </div>
        @if (type == ViewerType.Driver)
        {
            <script type="text/javascript">
                document.getElementById('requestForm').submit();
            </script>
            <div class="requestsList">
                <h2>Join requests</h2>
                <table>
                    @if (Model.RequestsUsernames != null && Model.RequestsUsernames.Count != 0)
                    {
                        <thead>
                            <tr>
                                <th>Username</th>
                            </tr>
                        </thead>
                        @foreach (var username in Model.RequestsUsernames)
                        {
                            <tr>
                                <td><p>@username</p></td>
                                <form asp-action="ConfirmRequest" asp-controller="TripDetails" method="post" asp-route-tripId="@Model.TripId" asp-route-username="@username" asp-antiforgery="true">

                                    <td><input type="submit" value="Confirm" /></td>

                                </form>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td rowspan="2">
                                <p>No join requests</p>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }


        @if (type == ViewerType.Driver)
        {
            <form asp-action="Remove" asp-controller="TripDetails" method="post" asp-route-id="@Model.TripId" asp-antiforgery="true">
                <div>
                    <input type="submit" value="Delete Trip" class="btn btn-success" />
                </div>
            </form>
        }
        @if (type == ViewerType.Passanger)
        {
            <form asp-action="Leave" asp-controller="TripDetails" method="post" asp-route-id="@Model.TripId" asp-antiforgery="true">
                <div>
                    <input type="submit" value="Leave" class="btn btn-success" />
                </div>
            </form>
        }
    }
    else
    {
        <form asp-action="Join" asp-controller="TripDetails" method="post" asp-route-id="@Model.TripId" asp-antiforgery="true">
            <div>
                <input type="submit" value="Join" class="btn btn-success" />
            </div>
        </form>
    }
}
else if (type == ViewerType.Passanger)
{
    <form asp-action="RateAndComment" asp-controller="Profiles" method="post" asp-route-driverId="@Model.DriverId" asp-route-tripId="@Model.TripId" asp-antiforgery="true">
        <div>
            <input type="submit" value="Rate And Comment Driver" class="btn btn-success" />
        </div>
    </form>
}