@model WebApp.ViewModels.TripDetailsViewModel
@{var type = (ViewerType)ViewData["type"]; }
<div>
    <h1>@Model.StartingAddress.City @Model.StartingAddress.Street to @Model.DestinationAddress.City @Model.DestinationAddress.Street</h1>
</div>
<div class="description">
    <h2>Description:</h2>
    <p>@Model.Description</p>
</div>

<div class="details">
    <h2>Details:</h2>
    <p><b>Cost:</b> @Model.Cost</p>
    <p><b>Driver:</b> @Model.DriverUsername</p>
    <p><b>Date:</b> @Model.Date</p>
    <p><b>Vechicle model:</b> @Model.VechicleModel</p>
</div>

@if (type != ViewerType.Guest)
{
    <div class="passangersList">
        <h2>Passangers</h2>
        @if (type == ViewerType.Passanger)
        {
            <h3>List:</h3>
            foreach (var username in Model.PassangersUsernames)
            {
                <p>@username</p>
            }
        }
        @if (type == ViewerType.Driver)
        {
            <h3>List for driver:</h3>
            foreach (var username in Model.PassangersUsernames)
            {
                <p>@username</p>
            }
            //TODO add passanger management panel
        }
    </div>
}  
@if (Model.MapPath != null)
{
<div>
    <p><b>Trip map:</b></p>
    <img src="@Model.MapPath"/>
</div>
}