@model WebApp.ViewModels.TripDetailsViewModel
@{var type = (ViewerType)ViewData["type"]; }
<div>
    <h1>Trip from @Model.StartingAddress.City to @Model.DestinationAddress.City </h1>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Destination City
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestinationAddress.City)
        </dd>
        <dt>
            Destination City Street
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestinationAddress.Street)
        </dd>
        <dt>
            Starting City
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartingAddress.City)
        </dd>
        <dt>
            Starting City Street
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartingAddress.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VechicleModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VechicleModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<div>
    <p><b>Trip map:</b></p>
    <img src="@Model.MapPath" />
</div>

@if (type != ViewerType.Guest)
{
    <div class="passangersList">
        <h2>Passangers</h2>
        @if (type == ViewerType.Passanger)
        {
            <h3>List:</h3>
            foreach (var username in Model.PassangersUsernames)
            {
                <p>@username</p>
            }
        }
        @if (type == ViewerType.Driver)
        {
            <h3>List for driver:</h3>
            foreach (var username in Model.PassangersUsernames)
            {
                <p>@username</p>
            }
            //TODO add passanger management panel
        }
    </div>
}
else
{
    <form asp-action="Join" asp-controller="TripDetails" method="post" asp-route-id="@Model.TripId" asp-antiforgery="true">
        <div>
            <input type="submit" value="Join" class="btn btn-success" />
        </div>
    </form>

}
<div>
    <a asp-action="Index" asp-controller="FakeTripList">Back to List</a>
</div>
